.ypcib { 
  margin-left: 44px;
  padding-left: 13px;
  line-height: 15px;
  border-bottom-width: 42px;
  border-right-width: 21px;
  border-right-width: 10px;
  margin-right: 71px;
  border-bottom-width: 47px;
  border-left-width: 22px;
  padding-top: 77px;
  padding-top: 39px;
  border-left-width: 86px;
  margin-left: 56px;
  margin-bottom: 89px;
  padding-left: 31px;
  padding-right: 80px;
  padding-top: 4px;
  padding-bottom: 52px;
  font-size: 21px;
  margin-top: 45px;
  margin-right: 81px;
  padding-left: 29px;
  border-right-width: 27px;
  border-top-width: 95px;
  border-bottom-width: 33px;
  margin-left: 7px;
  margin-right: 92px;
  margin-right: 28px;
  line-height: 99px;
  border-left-width: 13px;
  font-size: 76px;
  padding-top: 25px;
  border-right-width: 28px;
  margin-bottom: 68px;
  border-bottom-width: 40px;
  margin-left: 47px;
  border-top-width: 12px;
  border-top-width: 68px;
  border-top-width: 0px;
  line-height: 56px;
  padding-top: 85px;
  padding-left: 53px;
  border-bottom-width: 63px;
  font-size: 5px;
  border-bottom-width: 31px;
  padding-right: 67px;
  padding-top: 36px;
  padding-left: 25px;
  border-top-width: 19px;
  border-left-width: 80px;
  margin-right: 3px;
  font-size: 15px;
  padding-bottom: 17px;
  border-left-width: 98px;
  margin-top: 97px;
  padding-left: 45px;
  line-height: 63px;
  border-right-width: 21px;
  border-top-width: 72px;
  border-right-width: 54px;
  border-left-width: 29px;
  margin-top: 91px;
  line-height: 17px;
  margin-bottom: 23px;
  margin-left: 87px;
  padding-right: 92px;
  padding-left: 60px;
  border-top-width: 38px;
  border-left-width: 18px;
  border-bottom-width: 37px;
  border-bottom-width: 94px;
  padding-bottom: 32px;
  border-bottom-width: 36px;
  padding-top: 29px;
  padding-top: 78px;
  margin-top: 59px;
  padding-left: 97px;
  font-size: 5px;
  font-size: 81px;
  border-top-width: 60px;
  line-height: 46px;
  border-top-width: 67px;
  margin-right: 1px;
  font-size: 65px;
  font-size: 75px;
  font-size: 61px;
  margin-left: 82px;
  padding-top: 23px;
  line-height: 61px;
  padding-bottom: 83px;
  margin-right: 14px;
  margin-top: 66px;
  margin-right: 95px;
  margin-right: 58px;
  margin-right: 83px;
  padding-top: 29px;
  padding-bottom: 47px;
  font-size: 93px;
  margin-bottom: 84px;
  margin-right: 55px;
  padding-top: 16px;
  padding-bottom: 81px;
  font-size: 54px;
  font-size: 67px;
  border-right-width: 6px;
  font-size: 78px;
  line-height: 62px;
  margin-right: 81px;
  margin-right: 28px;
  border-left-width: 57px;
  padding-top: 59px;
  margin-right: 86px;
  margin-bottom: 64px;
  padding-top: 54px;
  border-bottom-width: 17px;
  padding-right: 78px;
  margin-top: 98px;
  line-height: 86px;
  font-size: 82px;
  border-left-width: 38px;
  margin-left: 5px;
  padding-bottom: 72px;
  border-left-width: 78px;
  margin-right: 45px;
  padding-left: 94px;
  font-size: 57px;
  line-height: 56px;
  border-left-width: 90px;
  margin-bottom: 48px;
  border-right-width: 57px;
  margin-bottom: 45px;
  padding-bottom: 6px;
  padding-top: 85px;
  font-size: 9px;
  font-size: 9px;
  margin-bottom: 73px;
  font-size: 80px;
  border-right-width: 37px;
  margin-right: 57px;
  border-left-width: 7px;
  margin-left: 31px;
  border-left-width: 33px;
  padding-right: 82px;
  border-bottom-width: 40px;
  border-right-width: 79px;
  border-bottom-width: 86px;
  font-size: 95px;
  border-left-width: 71px;
  font-size: 43px;
  margin-right: 43px;
  border-left-width: 58px;
  font-size: 24px;
  padding-right: 8px;
  padding-top: 27px;
  padding-left: 42px;
  line-height: 74px;
  padding-bottom: 89px;
  margin-bottom: 80px;
  line-height: 51px;
  margin-left: 2px;
  margin-bottom: 18px;
  border-top-width: 95px;
  border-bottom-width: 51px;
  padding-bottom: 21px;
  border-left-width: 56px;
  font-size: 57px;
  font-size: 72px;
  margin-right: 10px;
  padding-bottom: 49px;
  margin-top: 0px;
  padding-bottom: 31px;
  padding-right: 49px;
  border-bottom-width: 61px;
  padding-top: 33px;
  margin-bottom: 5px;
  padding-top: 16px;
  border-bottom-width: 84px;
  padding-left: 76px;
  border-bottom-width: 99px;
  padding-top: 38px;
  margin-right: 5px;
  margin-bottom: 71px;
  margin-left: 46px;
  padding-right: 48px;
  line-height: 18px;
  padding-bottom: 22px;
  margin-left: 91px;
  padding-right: 0px;
  margin-bottom: 13px;
  padding-right: 37px;
  margin-top: 21px;
  line-height: 41px;
  border-bottom-width: 66px;
  border-bottom-width: 89px;
  margin-bottom: 61px;
  border-left-width: 0px;
  margin-right: 72px;
  padding-top: 4px;
  border-top-width: 96px;
  border-right-width: 5px;
}
